@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #ffffff;
}

/* Light mode styles */
.light {
  --background: #ffffff;
  --foreground: #111111;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
 
}


/* Scrollbar container */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height for horizontal scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Handle color */
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color when hovered */
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #2f2f2f #1e1e1e;
  scrollbar-track-color: #111111;
  
}

  
